*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.run.xml
*.lof
*.lot
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb
*.xdv
*.lpc

.DS_Store
Thumbs.db

fig_3_6_relational_model.png
ТехЗадание.pdf
